@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {

    --font1: "Inter", sans-serif;
    --font2: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: black;
    
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

html, body {
    height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    font-size: 3vw;
}

header h1 {
    color:white ;
    font-family: var(--font1);
    padding-top: 35px;
}

header p{
    color: white;
    font-family: var(--font1);
    padding-bottom: 30px;

}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--font2);
    padding: 3vh;
    font-size: 4.5vw;
    
}

section.texto {

    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.801);
    
}

section.img1 {
    background-image: url(ChatGPT\ Image\ 11\ de\ mai.\ de\ 2026\,\ 11_09_44.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.219);
    background-position: center;

}
section.img1 > p {

    background-color: rgba(0, 0, 0, 0.329);
    display: inline-block;
    padding: 3vh;
    font-size: 4.5vw;

}

section.img2 {
    background-image: url(ChatGPT\ Image\ 11\ de\ mai.\ de\ 2026\,\ 11_31_04.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
    height: 100vh;
}

section.img2 > p {
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
    padding: 3vh;
    font-size: 3.5vw;
    text-align: left;
    
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font1);

}



